td {
  border: 5px ;
  border-color: black solid;
  color:black;
  line-height: 28px;
  text-align: center;
  height: 130px;
  background-color: #FFB733;
  opacity: 0.7;
  padding: 5px;
  width: 12%;
}

tr:first-child td {
  font-weight: 700;
  height: 40px;
} 



table {
  border-collapse: separate;
  color: black;
  font-size: 13px;
  width: 100%;
}

.calendNumber{
  height: 5%;
  float: left;


}

.calendInfo {
  font-size: 12px;
  line-height: 16px;
  height: 95%;
  background-color: #FE9431;
  font-size: 12px;

}

.link{
  font-size: 15px;
  color: black;
}