
.logo{
  position:fixed;
  height:350px;
}

.navbar-nav li{
  color:white;
}

.col-md-6{
  text-align: center;
  
}

.title h3{
  text-align: center;
  font-family: fantasy;
  background-color: #DA6161;
  color:white;
}

.container{
  font-size: 20px;
  text-align: left;
}

.container h3{
  color:#DA6161;
  font-family: fantasy;
}

  


div .row{
  text-align: center;
  margin-left: 50px;
  color: black;
  
}

li{
  color:white;
}

li :hover{
  background-color: #FEB0B0;
}
.navbar-inv{
  background-color: #DA6161;
  color:white;
  font-size: 20px;
}



.selected{
    padding: 10px; 
    position: absolute;
    width: 230px;
    border: solid #DA6161;
    border-radius: 10px 10px 10px 10px;
    right: -250px;
    color: black;
    height: 341px;
    background-color: white;
}

.panel-control{
  width: 680px;
}

.band-item{
  cursor: pointer;
}

.band-item button{
  display: none
}


@media (max-width: 1000px){
  div .row{

    text-align: center;
    color: black;
  }

  .navbar-inv{
    background-color: #DA6161;
    color:white;
  }



  .selected{
    display: none;
  }

  .logo{
  position:fixed;
  height:350px;
}

}

